{% if site.google_analytics_ga4 %}
      <!--<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_ga4 }}"></script>-->
      <script>
            if(consentGiven()) {
                  var script = document.createElement('script');
                  script.src = "https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics_ga4 }}";
                  document.head.appendChild(script);

                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());
                  gtag('config', "{{ site.google_analytics_ga4 }}");
            }
      </script>
{% endif %}
