<style>
    #cookie-notice {
        padding: 0.5rem 1rem;
        display: none;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: calc(100% /* - 2rem */);
        background: #222;
        color: rgba(255,255,255,0.8);
    }
    #cookie-notice a {display: inline-block; cursor: pointer;}
    @media (max-width: 767px) {
        #cookie-notice span {display: block; padding-top: 3px; margin-bottom: 1rem;}
        #cookie-notice a {position: relative; bottom: 4px;}
    }
</style>
<div id="cookie-notice">
    <span>We would like to use third party cookies and scripts to improve the functionality of this website. See our <a href="{{ site.baseurl }}/privacy-policy">privacy policy</a>.</span>
    <br>
    <button id="cookie-notice-accept" class="btn-yes">Approve</button>
    <!-- <button id="cookie-notice-reject" class="btn-no">Reject</button> -->
</div>

<script>
    if(consentGiven()) {
        // nothing right now - elements are allowed in-place
    } else {
        document.getElementById('cookie-notice').style.display = 'block';
    }

    document.getElementById('cookie-notice-accept').addEventListener("click",function() {
        createCookie('cookie-notice-dismissed','true',31);
        document.getElementById('cookie-notice').style.display = 'none';
        location.reload();
    });
</script>